/* Variables */

$color-font-one: #ffffff;
$color-font-two: #000000;
$color-font-three: #7f8c8d;
$font-text: 'Inconsolata', monospace;
$font-header: 'Signika', sans-serif;
$font-logo: 'Dancing Script', cursive;
$transition: all 1s;
$color-button: #f1c40f;
$color-background: #ecf0f1;
$color-background-box: #ffffff;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container-fluid img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

/*Navigation*/

.header-container {
  background-image: url("https://i.postimg.cc/jdfxWxw6/hb.jpg");
  height: 700px;
}

.header-subcontener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  color: $color-font-one;
}

.header-title {
  text-align: center;
  margin: 0;
}

.header-title h1 {
  font-family: $font-header;
  font-size: 48px;
  font-style: italic;
}

.header-title h2 {
  font-family: $font-text;
  font-size: 72px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  position: relative;
}

.menu-container h1 {
  font-family: $font-logo;
  color: $color-button;
  font-size: 24px;
  font-style: italic;
}

.menu-item {
  font-family: $font-text;
}

.menu-item ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu-item ul li {
  display: inline-block;
  margin: 0 36px 0 0;
}

.menu-item ul a {
  text-decoration: none;
  color: $color-font-one;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: $color-font-one;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: $color-button;
    background-color: $color-button;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

/*Services*/

.services {
  text-align: center;
  margin: 96px auto;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 72px 0 0 0;
}

.services h1 {
  font-family: $font-header;
  font-size: 42px;
  margin: 0;
}

.services h2 {
  font-family: $font-text;
  color: $color-font-three;
  font-size: 20px;
  font-style: italic;
  margin: 0;
}

.services h3 {
  font-family: $font-header;
  font-size: 20px;
  font-weight: 900;
}

.services h4 {
  font-family: $font-text;
  color: $color-font-three;
  font-size: 16px;
}

.services-first-line {
  margin: 0;
}

.services i {
  font-size: 48px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: $color-button;
  border-radius: 50%;
  text-align: center;
}

/*Portfolio*/

.portfolio {
  text-align: center;
  background-color: $color-background;
  padding: 96px 0;
}

.portfolio img {
  width:100%;
}

.portfolio h1 {
  font-family: $font-header;
  font-size: 42px;
  margin: 0;
}

.portfolio h2 {
  font-family: $font-text;
  color: $color-font-three;
  font-size: 20px;
  font-style: italic;
  margin: 0 0 48px 0;
}

.portfolio h3 {
  font-family: $font-header;
  font-size: 20px;
  font-weight: 900;
  border: none;
}

.portfolio h4 {
  font-family: $font-text;
  color: $color-font-three;
  font-size: 16px;
  font-style: italic;
}

.portfolio-box {
  background-color: $color-background-box;
  margin: 32px 0;
  padding-bottom: 16px;
}

/*Footer*/

.page-footer {
  margin: 32px auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  position: relative;
  text-align: center;
}

.footer-element {
  font-size: 36px;
}

.page-footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-footer ul li {
  display: inline-block;
}

.page-footer i {
  font-size: 24px;
  background: $color-font-two;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: $color-font-one;
  border-radius: 50%;
  text-align: center;
}
